{% extends 'beep/main.html' %}

{% block content %}
<br>
<br>
<br><br><br><br>
    <h3 style="text-align:center;">
        --Our Story--</h3>
<br>
    <h4 style="text-align:center;">
        When I was a student most commuters especially drivers struggles everyday<br>
        when commuting from their house to their school, or their job. This struggles<br>
        are often every morning where paying for the fare is hard, especially with big<br>
        amount of money.So we made a system that can help the commuters <br>
        to commute peacefully and for drivers to drive at ease.
    </h4>
{% endblock content %}

