{% extends 'beep/main.html' %}

{% block content %}

<br>
<br>
<br><br><br><br>
    <h3 style="text-align:center;">&nbsp;&nbsp;Description</h3>
    <h4 style="text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This web application can help commuters/user to lessen the burden of paying inside a transportation<br>
    &nbsp;&nbsp;&nbsp;&nbsp;vehicle where the commuters/usermay encounter getting a big amount of money out which may result to not<br>
    &nbsp;&nbsp;&nbsp;&nbsp;enough change especially early in the morning where most people have a big billand the drivers doesn't<br>
    &nbsp;&nbsp;&nbsp;&nbsp;have enough change, to avoid unwanted people form entering, and also to help the driver focus on driving.
    </h4>
    
{% endblock content %}
