{% extends 'beep/main.html' %}

<!--
      <span style="text-align: center;">
        <input class="form-control" name="password" placeholder="New Password" type="password" />
        </span>
-->

{% block content %}
<!--
<br><br><br><br><br>
<div class="container" >
    <div class="row justify-content-center align-items-center h-100">
        <br><br><br><br>
        <br><br><br><br>
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
        <form action="#" method="post" class="form" role="form">
        <span style="text-align: center;">
        <input class="form-control" name="firstname" placeholder="First Name" type="text" />
        </span>
        <br>
        <span style="text-align: center;">
        <input class="form-control" name="lastname" placeholder="Last Name" type="text" />
        </span>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sumbit
        </button> 
        </div>
        </form>
        </div>
    </div>
  -->
  <br><br><br>
  <div class="container">
      <div class="row justify-content-center align-items-center h-100">
          <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <br><br><br><br>
              <form action="" method="POST" class="form" role="form">
                {% csrf_token %}
                <span style="text-align: center;"> 
                      <input class="form-control" id="id-email" name="email" placeholder="Email" type="text"
                          required autofocus />
                </span> 
              <br>
                <span style="text-align: center;">
                      <input class="form-control" id="id-password" name="password" placeholder="Password" type="text" required />
                </span> 
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit">
                Log In</button>
                </div>
              </form>   
          </div> 
      </div>
  </div>



{% endblock content %}

<!--
  <div class="btn-group">
            <button type="button" class="btn btn-danger">Destination</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <br>
        <br>

        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected>Location</option>
                  <option value="1">Talisay</option>
                  <option value="2">Dumlog</option>
                  <option value="3">Tabunok</option>
                </select>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected>Destination</option>
                  <option value="1">Bulacao</option>
                  <option value="2">Pardo</option>
                  <option value="3">Basak</option>
                </select>
              </div>
 
              capacity = if blue = 33 passengers with 26 seats
              capacity = if white = 31 passengers with 22 seats
-->
