{% extends 'beep/main.html' %}

{% block content %}
<!--
<br><br><br>
<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <br><br><br><br>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="First Name" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                </div>
            </div>
            <input class="form-control" name="youremail" placeholder="Your Email" type="email" />
            <input class="form-control" name="password" placeholder="New Password" type="password" />
            <label class="radio-inline">
                <input type="radio" name="sex" id="inlineCheckbox1" value="male" />
                <p>Male</p>
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" id="inlineCheckbox2" value="female" />
                <p>&nbsp;Female</p>
            </label>
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
    </div>
</div>
-->
<form method = "GET">
    {{ form }}
    <input type = "submit" value = "Submit">
</form>
{% endblock content %}

