body{
    background-image: url("beep/images/photo.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #5C6DBF;
}

footer{
    margin-top: auto;
}

.container{
    background-repeat: no-repeat;
    background-position: 50%,50%;
    background-size: 700px,500px;
    text-align: center;
}